part1/node_modules/*
part1/public/*
part1/README.md

part1/yarn.lock
part1/.eslintcache

part1/src/index.css
part1/package.json
part1/package.json
part1/package.json
part1/package.json
part1/anecdotes/.eslintcache
part1/anecdotes/.eslintcache
part1/anecdotes/.eslintcache
part1/anecdotes/README.md
part1/anecdotes/README.md
part1/anecdotes/README.md
part1/anecdotes/README.md
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/public/favicon.ico
part1/anecdotes/public/favicon.ico
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/anecdotes/public/index.html
part1/anecdotes/public/logo192.png
part1/anecdotes/public/logo512.png
part1/anecdotes/public/manifest.json
part1/anecdotes/public/robots.txt
part1/anecdotes/src/index.css
part1/anecdotes/src/index.css
part1/anecdotes/yarn.lock
part1/courseinfo/.eslintcache
part1/courseinfo/README.md
part1/courseinfo/main.js
part1/courseinfo/package.json
part1/courseinfo/public/favicon.ico
part1/courseinfo/public/favicon.ico
part1/courseinfo/public/index.html
part1/courseinfo/public/logo192.png
part1/courseinfo/public/logo512.png
part1/courseinfo/public/manifest.json
part1/courseinfo/public/robots.txt
part1/courseinfo/src/index.css
part1/courseinfo/src/main.js
part1/courseinfo/yarn.lock
part1/src/index.js
part1/src/index.js
part1/unifcafe/README.md
part1/unifcafe/package.json
part1/unifcafe/public/favicon.ico
part1/unifcafe/public/logo192.png
part1/unifcafe/public/logo512.png
part1/unifcafe/public/manifest.json
part1/unifcafe/public/robots.txt
part1/unifcafe/src/index.css
part1/unifcafe/yarn.lock
part1/unifcafe/yarn.lock
part1/unifcafe/.gitignore
part1/unifcafe/.eslintcache
part1/src/index.js
part2/course_information/.eslintcache
part2/course_information/node_modules/*
part2/the_phonebook/node_modules/*
part2/course_information/public/*
part2/the_phonebook/public/*

part2/course_information/.eslintcache
part2/course_information/.eslintcache
part2/course_information/.eslintcache
part2/course_information/README.md
part2/course_information/README.md
part2/course_information/README.md
part2/course_information/README.md
part2/course_information/README.md
part2/course_information/src/App.css
part2/course_information/src/App.test.js
part2/course_information/src/index.css
part2/course_information/src/index.css
part2/course_information/src/logo.svg
part2/course_information/src/reportWebVitals.js
part2/course_information/src/setupTests.js
part2/course_information/yarn.lock
part2/the_phonebook/.eslintcache
part2/the_phonebook/README.md
part2/the_phonebook/src/App.css
part2/the_phonebook/src/App.test.js
part2/the_phonebook/src/index.css
part2/the_phonebook/src/logo.svg
part2/the_phonebook/src/reportWebVitals.js
part2/the_phonebook/src/setupTests.js
part2/the_phonebook/yarn.lock