part1/node_modules/*
part1/public/*
part1/README.md

part1/yarn.lock
part1/.eslintcache

part1/src/index.css
part1/package.json
part1/package.json
part1/package.json
part1/package.json
part1/anecdotes/.eslintcache
part1/anecdotes/.eslintcache
part1/anecdotes/.eslintcache
part1/anecdotes/README.md
part1/anecdotes/README.md
part1/anecdotes/README.md
part1/anecdotes/README.md
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/package.json
part1/anecdotes/public/favicon.ico
part1/anecdotes/public/favicon.ico
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/unifcafe/public/index.html
part1/anecdotes/public/index.html
part1/anecdotes/public/logo192.png
part1/anecdotes/public/logo512.png
part1/anecdotes/public/manifest.json
part1/anecdotes/public/robots.txt
part1/anecdotes/src/index.css
part1/anecdotes/src/index.css
part1/anecdotes/yarn.lock
part1/courseinfo/.eslintcache
part1/courseinfo/README.md
part1/courseinfo/main.js
part1/courseinfo/package.json
part1/courseinfo/public/favicon.ico
part1/courseinfo/public/favicon.ico
part1/courseinfo/public/index.html
part1/courseinfo/public/logo192.png
part1/courseinfo/public/logo512.png
part1/courseinfo/public/manifest.json
part1/courseinfo/public/robots.txt
part1/courseinfo/src/index.css
part1/courseinfo/src/main.js
part1/courseinfo/yarn.lock
part1/src/index.js
part1/src/index.js
part1/unifcafe/README.md
part1/unifcafe/package.json
part1/unifcafe/public/favicon.ico
part1/unifcafe/public/logo192.png
part1/unifcafe/public/logo512.png
part1/unifcafe/public/manifest.json
part1/unifcafe/public/robots.txt
part1/unifcafe/src/index.css
part1/unifcafe/yarn.lock
part1/unifcafe/yarn.lock
part1/unifcafe/.gitignore
part1/unifcafe/.eslintcache
part1/src/index.js
part2/course_information/.eslintcache